.play-area {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px; */
}

#canvas {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brick {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: greenyellow;
    border: 1px solid black;
}

.player {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: orangered;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: darkmagenta;
}

.restart {
    text-align: center;
    font-size: 50px;
}